*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
h3{
    text-align: center;
    margin-top: 80px;
    font-size: 1.5rem;
    color: blue;
}